{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}

<div class="container list">
    {{#list}}
        <div class="item">
            <img src="images/{{image}}" class="item--image" />
            <div class="item--name">{{name}}</div>
            <div class="item--color">Cor: {{color}}</div>
            <div class="item--genre">Gênero: {{sex}}</div>
        </div>
{{/list}}
</div>

{{^list}}
<div class="container no-list">
    <h5>Não achamos nenhum animal com este nome para adoção. :(</h5>
</div>
{{/list}}



{{>partials/footer}}